main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* griden laves her */
    gap: 3rem;
    
}

img{
    object-fit: cover;
    width:100%;
}

.wrapper-main {
    margin-top: 120px;
}

/* .container-img1 {
    grid-row: 1/span 1;
    grid-column: 1/span 1;
} 

.container-img2 {
    grid-row: 1/span 1;
    grid-column: 2/span 1;
}

 .container-img3 {
    grid-row: 1/span 1;
    grid-column: 3/span 1;
} */